@import "tailwindcss";

.project-card {
  @apply absolute top-4 -right-40 w-[20rem] rounded-t-lg shadow-2xl 
    transition

    group-hover:scale-[1.04]

    group-hover:-translate-x-3
    group-hover:translate-y-3
    group-hover:-rotate-2

    group-even:group-hover:translate-x-3
    group-even:group-hover:translate-y-3
    group-even:group-hover:rotate-2


    group-even:-left-40;
}

@media (min-width: 640px) {
  .project-card {
    @apply absolute top-8 -right-40 w-[28.25rem]

    
    group-even:right-[initial] 
    group-even:-left-40;
  }
}
